.mainGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

@media only screen and (max-width: 920px) {
  .mainGrid {
    display: block;
  }
}

.bills {
  display: block;
  border: 1px var(--primaryHighlight) dotted;
  /* border-radius: 10%; */
  background: var(--backgroundHighlight);
}

.hansard {
  display: block;
  border: 1px var(--primaryHighlight) dotted;
  /* border-radius: 10%; */
  background: var(--backgroundHighlight);
}

.rep h2 {
  margin: 0;
}

.repInfo {
  display: block;
  border: 1px var(--primaryHighlight) dotted;
  /* border-radius: 10%; */
  background: var(--backgroundHighlight);
}
.repInfo ul li span {
  font-weight: bold;
}

.conDemoData {
  display: block;
  border: 1px var(--primaryHighlight) dotted;
  /* border-radius: 10%; */
  background: var(--backgroundHighlight);
}
.conDemoData table tbody th {
  text-align: left;
}
.conDemoData table tbody td {
  text-align: right;
}
