.mainGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.hideMobile {
  display: block;
}
.showMobile {
  display: none;
}

@media only screen and (max-width: 920px) {
  .mainGrid {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .hideMobile {
    display: none;
  }

  .showMobile {
    display: block;
  }
}

.repCard {
  display: block;
  border: 1px var(--secondary) dotted;
  border-radius: 10px;
  background: var(--backgroundHighlight);
  margin-bottom: 2vh;
  padding: 1vh 1vw 1vh 1vw;
}
.repCard h2 {
  font-size: var(--h3);
  margin: 0;
}
.repCard h3 {
  font-size: var(--h4);
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 920px) {
  .repCard {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 2fr;
    padding: 2vh 2vw 2vh 2vw;
  }
  .repImage {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
  }
  .repCard h2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  .repCard h3 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
}

.repInfo {
  display: block;
  border: 1px var(--secondary) dotted;
  border-radius: 10px;
  background: var(--backgroundHighlight);
  padding: 0 1vw 1vh 1vw;
  margin-bottom: 2vh;
}
.repInfo ul li span {
  font-weight: bold;
}
.repInfo a {
  color: var(--primary);
  text-decoration: none;
  border-bottom: 2px var(--secondary) solid;
}
.repInfo a:hover {
  transition: ease 0.2;
  background: rgba(255, 0, 0, 0.1);
}

@media only screen and (max-width: 920px) {
  .repInfo {
    padding: 2vh 2vw 2vh 2vw;
  }
}

.bills {
  display: block;
  border: 1px var(--secondary) dotted;
  border-radius: 10px;
  background: var(--backgroundHighlight);
  margin-bottom: 2vh;
  padding: 0 1vw 1vh 1vw;
}
.bills h3 {
  margin-bottom: 1rem;
}
.billLink {
  /* font-size: var(--h5); */

  color: var(--primary);
  text-decoration: none;
  border-bottom: 2px var(--secondary) solid;
}
.billLink:hover {
  transition: ease 0.2;
  background: rgba(255, 0, 0, 0.1);
}
.billName {
  font-size: var(--h6);
  font-weight: 500;
}

@media only screen and (max-width: 920px) {
  .bills {
    padding: 2vh 2vw 2vh 2vw;
  }
}

.hansard {
  display: block;
  border: 1px var(--secondary) dotted;
  border-radius: 10px;
  background: var(--backgroundHighlight);
  padding: 0 1vw 0 1vw;
  margin-bottom: 2vh;
}
.hansard h3 {
  margin-bottom: 1rem;
}
.hansardSession {
  font-size: var(--h5);
}
.hansardH2 {
  /* font-size: var(--h5); */
  margin-left: 1vw;
}
.hansardH3 {
  /* font-size: var(--h5); */
  margin-left: 2vw;
}
.hansardLink {
  /* font-size: var(--h5); */
  margin-left: 3vw;
  color: var(--primary);
  text-decoration: none;
  border-bottom: 2px var(--secondary) solid;
}
.hansardLink:hover {
  transition: ease 0.2;
  background: rgba(255, 0, 0, 0.1);
}

@media only screen and (max-width: 920px) {
  .hansard {
    padding: 2vh 2vw 2vh 2vw;
  }
}

.conDemoData {
  display: block;
  border: 1px var(--secondary) dotted;
  border-radius: 10px;
  background: var(--backgroundHighlight);
  padding: 0 1vw 1vh 1vw;
  margin-bottom: 2vh;
}
.conDemoData table tbody th {
  text-align: left;
}
.conDemoData table tbody td {
  text-align: right;
}

.conDemoData h5 {
  margin-top: 1vh;
}

.conDemoData a {
  color: var(--primary);
  text-decoration: none;
  border-bottom: 2px var(--secondary) solid;
}
.conDemoData a:hover {
  transition: ease 0.2;
  background: rgba(255, 0, 0, 0.1);
}
@media only screen and (max-width: 920px) {
  .conDemoData {
    padding: 2vh 2vw 2vh 2vw;
  }
}
