.mapbox {
  border: solid var(--accent) 4px;
  display: flex;
  border-radius: 10%;
  max-width: 300px;
  max-height: 200px;
  font-family: var(--headingFont);
  box-shadow: var(--level-1);
}

.mapbox a {
  color: var(--primary);
  text-decoration: none;
  font-size: 350%;
  text-align: center;
  line-height: normal;
  background: rgba(255, 255, 255, 0.3);
}

.mapbox a:hover {
  transition: ease 0.2;
  background: rgba(255, 255, 255, 0.4);
}

.mapbox a span {
  font-size: 180%;
}

.linklist a {
  border: solid var(--secondary) 2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: var(--level-1);
  width: 300px;
  display: block;
  margin-bottom: 1px;
}

.linklist a:hover {
  transition: ease 0.2;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: var(--level-3);
}
/* 
.linklist {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-self: left;
  padding: 0;
}

.linklist li {
  border: solid var(--accent) 2px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: var(--level-1);
}

.linklist li:hover {
  transition: ease 0.2;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: var(--level-3);
}

.linklist li a {
  text-decoration: none;
  color: var(--primary);
  margin: 2px 10px;
  font-size: 150%;
} */
