.map {
  display: flex;
  justify-content: center;
}

.mainCon {
  position: relative;
  /* border: 2px solid red; */
  top: 15vh;
  left: 0vh;
}

@media only screen and (min-width: 480px) {
  .mainCon {
    /* top: 25vh;
    left: 15vh; */
  }
}
@media only screen and (min-width: 600px) {
  .mainCon {
    /* top: 20vh;
    left: 20vh; */
  }
}
@media only screen and (min-width: 720px) {
  .mainCon {
    /* top: 15vh;
    left: 20vh; */
  }
}
@media only screen and (min-width: 900px) {
  .mainCon {
    /* top: 10vh;
    left: 20vh; */
  }
}
@media only screen and (min-width: 1200px) {
  .mainCon {
    /* top: 10vh;
    left: 20vh; */
  }
}

.conInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.conInfo > h1,
h2,
h3 {
  /* box-shadow: 0 4px 6px -1px var(--accent); */
  text-shadow: 2px 2px var(--accent);
}

.conInfo a {
  text-decoration: none;
  color: var(--primary);
  border: 1px solid;
  padding: 2px 10px 2px 10px;
  background: rgba(255, 255, 255, 0.5);
}

.conInfo a:hover {
  transition: ease 0.2;
  background: rgba(255, 255, 255, 0.7);
}

.mainCon svg {
  z-index: -1;
  fill-opacity: 0.6;
  fill: var(--accent);
  fill: white;
  stroke: var(--primary);
  width: 70vw;
  height: 70vh;
}
@media only screen and (min-width: 600px) {
  .mainCon svg {
    /* width: 60vw;
    height: 60vh; */
  }
}
@media only screen and (min-width: 720px) {
  .mainCon svg {
    /* width: 70vw;
    height: 70vh; */
  }
}
@media only screen and (min-width: 900px) {
  .mainCon svg {
    /* width: 80vw;
    height: 80vh; */
  }
}
@media only screen and (min-width: 1200px) {
  .mainCon svg {
    /* width: 80vw;
    height: 80vh; */
  }
}

.sideCon svg {
  z-index: 1;
  fill-opacity: 0.6;
  fill: var(--accent);
  fill: white;
  stroke: var(--primary);
}

.sideCon svg:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.west svg {
  position: absolute;
  top: 30vh;
  left: -15vw;
}

.northWest svg {
  position: absolute;
  top: -10vh;
  left: -15vw;
}
.southWest svg {
  position: absolute;
  top: 80vh;
  left: -15vw;
}
.north svg {
  position: absolute;
  top: -10vh;
  left: 30vw;
}
.south svg {
  position: absolute;
  top: 80vh;
  left: 30vw;
}

.east svg {
  position: absolute;
  top: 30vh;
  left: 80vw;
}
.northEast svg {
  position: absolute;
  top: -10vh;
  left: 80vw;
}
.southEast svg {
  position: absolute;
  top: 80vh;
  left: 80vw;
}

.navInstructions {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 80vh;
}

@media only screen and (min-width: 720px) {
  .navInstructions {
    top: 92vh;
  }
}

.navInstructions h2 {
  font-size: var(--h6);
  text-align: center;
}

@media only screen and (min-width: 720px) {
  .navInstructions h2 {
    font-size: var(--h4);
    text-align: center;
  }
}
