.mainCon svg {
  z-index: -1;
  fill-opacity: 0.6;
  fill: white;
  stroke: var(--color-primary);
  /* stroke-width: 6; This is set on the ConSvg react component so it can be normalized depending on which SVG map is showing*/
  width: 70vw;
  height: 70vh;
}

@media only screen and (max-width: 900px) {
  .mainCon svg {
    width: 60vw;
    height: 60vh;
  }
}

.sideCon svg {
  z-index: 1;
  fill-opacity: 0.6;
  fill: var(--accent);
  fill: white;
  stroke: var(--primary);
}

.sideCon svg:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

@media only screen and (max-width: 900px) {
  .sideCon svg {
    fill-opacity: 0.3;
  }
}

.west svg {
  position: absolute;
  top: 30vh;
  left: -15vw;
}
.west h4 {
  top: 40vh;
  left: 2vw;
}

.northWest svg {
  position: absolute;
  top: -10vh;
  left: -15vw;
}
.northWest h4 {
  top: 0vh;
  left: 2vw;
}

.southWest svg {
  position: absolute;
  top: 75vh;
  left: -15vw;
}
.southWest h4 {
  top: 80vh;
  left: 2vw;
}
.north svg {
  position: absolute;
  top: -10vh;
  left: 30vw;
}
.north h4 {
  top: 0vh;
  left: 45vw;
}
.south svg {
  position: absolute;
  top: 75vh;
  left: 30vw;
}
.south h4 {
  top: 80vh;
  left: 45vw;
}

.east svg {
  position: absolute;
  top: 30vh;
  left: 80vw;
}
.east h4 {
  top: 40vh;
  left: 85vw;
}
.northEast svg {
  position: absolute;
  top: -10vh;
  left: 80vw;
}
.northEast h4 {
  top: 0vh;
  left: 85vw;
}

.southEast svg {
  position: absolute;
  top: 75vh;
  left: 80vw;
}
.southEast h4 {
  top: 80vh;
  left: 85vw;
}

.InnerWest svg {
  position: absolute;
  top: 50vh;
  left: 5vw;
}
.InnerWest h4 {
  top: 55vh;
  left: 15vw;
}

.InnerEast svg {
  position: absolute;
  top: 50vh;
  left: 60vw;
}
.InnerEast h4 {
  top: 55vh;
  left: 70vw;
}

@media only screen and (max-width: 900px) {
  .west svg {
    top: 25vh;
    left: -15vw;
  }
  .west h4 {
    top: 35vh;
    left: -2vw;
  }

  .northWest svg {
    top: -10vh;
    left: -15vw;
  }
  .northWest h4 {
    top: 0vh;
    left: -2vw;
  }

  .southWest svg {
    top: 60vh;
    left: -15vw;
  }
  .southWest h4 {
    top: 70vh;
    left: -2vw;
  }
  .north svg {
    top: -10vh;
    left: 30vw;
  }
  .north h4 {
    top: 0vh;
    left: 35vw;
  }
  .south svg {
    top: 60vh;
    left: 30vw;
  }
  .south h4 {
    top: 70vh;
    left: 35vw;
  }

  .east svg {
    top: 25vh;
    left: 75vw;
  }
  .east h4 {
    top: 35vh;
    left: 75vw;
  }
  .northEast svg {
    top: -10vh;
    left: 75vw;
  }
  .northEast h4 {
    top: 0vh;
    left: 75vw;
  }

  .southEast svg {
    top: 60vh;
    left: 75vw;
  }
  .southEast h4 {
    top: 70vh;
    left: 75vw;
  }

  .InnerWest svg {
    top: 45vh;
    left: 0vw;
  }
  .InnerWest h4 {
    top: 50vh;
    left: 10vw;
  }

  .InnerEast svg {
    top: 45vh;
    left: 60vw;
  }
  .InnerEast h4 {
    top: 50vh;
    left: 70vw;
  }
}

/* 
.linkHome {
  position: absolute;
  left: 20vw;
  top: 5vh;
  font-size: 24px;
  border-bottom: 1px solid var(--accent);
}

@media only screen and (max-width: 900px) {
  .linkHome {
    font-size: 16px;
    top: 18vh;
    left: 62vw;
    z-index: 5;
  }
} */

.reload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  background: transparent;
  border-bottom: 1px solid var(--accent);
}

.reload:hover {
  box-shadow: var(--level-4);
}
