:root {
  --midnight-blue: #001b69;
  --brown: #71441f;
  --dark-goldenrod: #b59040;
  --fire-engine-red: #c9072a;
  --lincoln-green: #0e4f0e;

  --color-primary: #B91C1C;
  --color-secondary: #b59040;
  --color-accent: var(--midnight-blue);
  /* ... */
  --p: var(--color-primary);
}

/* @import "style.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import 'main.css';
@import 'normalize.css'; */

@layer base {
  /*When the body has no Overflow attribute applied, set this CSS rule*/
  body[noOverflow="true"] {
    overflow: hidden;
  }
}
