:root {
  --midnight-blue: #001b69;
  --brown: #71441f;
  --dark-goldenrod: #b59040;
  --fire-engine-red: #c9072a;
  --lincoln-green: #0e4f0e;

  --color-primary: #b91c1c;
  --color-secondary: #b59040;
  --color-accent: var(--midnight-blue);
  --color-background: #43baff;
  /* ... */
  --p: var(--color-primary);
}

/* @import "style.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import 'main.css';
@import 'normalize.css'; */

@layer base {
  /*When the body has no Overflow attribute applied, set this CSS rule*/
  body[noOverflow="true"] {
    overflow: hidden;
  }

  h1 {
    @apply text-4xl;
    @apply mb-1;
    @apply text-primary;
  }
  h2 {
    @apply text-3xl;
    @apply mb-1;
    @apply text-primary;
  }
  h3 {
    @apply text-2xl;
    @apply mb-1;
    @apply text-primary;
  }

  p {
    @apply text-primary;
  }

  a {
    @apply text-primary;
    @apply border-b;
    @apply border-secondary;
  }

  /*CUSTOMIZE DAISY COLLAPSE CONTROL*/
  .collapse-open .collapse-title,
  .collapse:focus:not(.collapse-close) .collapse-title,
  .collapse:not(.collapse-close)
    input[type="checkbox"]:checked
    ~ .collapse-title {
    --tw-bg-opacity: 0 !important; /*REMOVE FOCUS STYLING FOR COLLAPSE CONTROL*/
    border-bottom: 1px solid var(--color-secondary); /*SET between collapse header and content*/
  }
  .collapse-open .collapse-content,
  .collapse:focus:not(.collapse-close) .collapse-content,
  .collapse:not(.collapse-close)
    input[type="checkbox"]:checked
    ~ .collapse-content {
    --tw-bg-opacity: 0 !important; /*REMOVE FOCUS STYLING FOR COLLAPSE CONTROL*/
  }

  .text-shadow {
    text-shadow: 1px 1px var(--color-accent);
  }

  .mt--1 {
    margin-top: -0.25rem;
  }

  /* todo make links highlight 
a:hover {
  transition: ease 0.2;
  background: rgba(255, 0, 0, 0.1);
}*/
}
