@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap");

:root {
  /*Define colors*/
  --black: #121212;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;

  /**/
  --midnight-blue: #001b69ff;
  --brown: #71441fff;
  --dark-goldenrod: #b59040ff;
  --fire-engine-red: #c9072aff;
  --lincoln-green: #0e4f0eff;

  /*Define color intentions*/
  --background: var(--lightGrey);
  --textColor: var(--primary);
  --lineColor: var(--grey);
  --primary: var(--fire-engine-red);
  --primaryHighlight: var(--dark-goldenrod);
  --accent: var(--midnight-blue);
  --accentHighlight: var(--midnight-blue);
  --danger: red;

  --line: solid 1px var(--lineColor);

  /*Typography*/
  --headingFont: "Libre Baskerville", serif;
  --bodyFont: "Source Sans Pro", sans-serif;
  --baseFontSize: 100%;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --smallText: 0.8rem;

  /*Elevation*/
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --containerPadding: 2.5%;
  --headerHeight: 5rem;
  --borderRadius: 10px;
}

@media only screen and (min-width: 700px) {
  :root {
    --baseFontSize: 112.5%;
  }
}

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
} /*18px*/

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  /* background: var(--sheen-green); */
  color: var(--textColor);

  /* overflow-wrap: anywhere; */
  /* word-break: break-word; */
}
body[noOverflow="true"] {
  overflow: hidden;
}

header {
  color: var(--primary);
  /* box-shadow: var(--level-2); */
  height: var(--headerHeight);
  display: flex;
  /* justify-content: space-between; bring nav beside*/
  width: 100%;
  padding: 1% var(--containerPadding);
  /* 
  fixed header:
  position: fixed;
  top: 0;
  left: 0; */
}

footer {
  color: white;
  background: var(--black);
  padding: 0 var(--containerPadding);
  text-align: center;
}

footer {
  --footerTextColor: var(--grey);
  color: var(--footerTextColor);
  background: var(--black);
  padding: 0.5rem var(--containerPadding);
  text-align: center;
  position: relative;
  top: 95vh;
  left: 0;
  width: 100%;
}

footer nav a {
  color: var(--footerTextColor);
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
  max-width: 40em;
}

p a,
blockquote a {
  color: var(--black);
  text-decoration: none;
  border-bottom: solid 2px var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--smallText);
}

blockquote {
  border: --line;
  margin: 10px;
  padding: 2em;
  background: white;
  box-shadow: var(--level-3);
}

label {
  display: block;
  font-size: var(--smallText);
}

input,
textarea {
  border: var(--line);
  border-radius: 4px;
  padding: 8px 4px 8px 4px;
}

textarea {
  width: 100%;
  height: 5rem;
}

::placeholder {
  color: var(--grey);
}

select {
  border: var(--line);
}

hr {
  border-top: var(--line);
}

button {
  --buttonColor: var(--primary);
  --buttonTextColor: var(--textColor);
  appearance: none;
  color: var(--buttonTextColor);
  background-color: var(--buttonColor);
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
  box-shadow: var(--level-1);
  transition: 0.3sec ease-in-out box-shadow;
}

button:hover {
  box-shadow: var(--level-2);
}

.cancel {
  --buttonColor: var(--danger);
  --textColor: white;
}

button.small {
  font-size: var(--smallText);
}

button[disabled] {
  opacity: 0.4;
}

.layout {
  /* padding: calc(1rem + var(--headerHeight)) var(--containerPadding); */
  padding: 1rem var(--containerPadding);
}

.grid {
  --gridCols: 2;
  display: block; /*override at 500px see @media query*/
  grid-template-columns: repeat(var(--gridCols), 1fr);
  justify-items: center;
}

.cols-3 {
  --gridCols: 2;
}

.tut-split {
  display: grid;
  grid-template-columns: 33% 67%;
}

.flex {
  --justifyContent: space-between;
  display: block; /*override at 500px see @media query*/
  justify-content: var(--justifyContent);
}

.flex-around {
  --justifyContent: space-around;
}

@media only screen and (min-width: 900px) {
  .cols-3 {
    --gridCols: 3;
  }
  .flex {
    display: flex;
  }
}

@media only screen and (min-width: 700px) {
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Custom Elements*/
