.navBar {
  z-index: 5;
  flex-grow: 1;
}

.navBar div a {
  display: inline-block;
  margin: 0 12px;
  transition: all 200ms ease-in;
  position: relative;
  color: var(--primary);
  text-decoration: none;
  font-family: var(--bodyFont);
  font-size: 1.15rem;
  padding: 0 6px;
  font-size: var(--h6);
  word-break: keep-all;
  border-bottom: unset;
}

.navBar div a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--secondary);
  height: 1px;
  transition: all 0.4s ease-in;
}
.navBar div a:hover {
  color: var(--secondary);
  background: unset;
}
.navBar div a:hover::after {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .navBar div a {
    padding: 14px 0;
    font-size: var(--h5);
    z-index: 6;
  }
}

.navToggle {
  display: flex;
  height: 100%;
  cursor: pointer;
  justify-content: flex-end;
}

@media only screen and (min-width: 920px) {
  .navToggle {
    display: none;
  }
}

.navBox {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 920px) {
  .navBox {
    flex-direction: column;
    position: fixed;
    width: 100%;
    justify-content: flex-start;
    padding-top: 10vh;
    background: var(--background);
    /* background: linear-gradient(
      130deg,
      #44a2cd,
      #999999,
      white,
      #d2d3d5,
      #999999,
      #d2d3d5,
      #44a2cd
    ); */
    transition: all 0.3s ease-in;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .navBoxClosed {
    left: -100%;
  }
}

.hamburger {
  background-color: var(--primary);
  width: 30px;
  height: 3px;
  transition: all 0.3s linear;
  align-self: center;
  position: fixed;
  transform: rotate(-45deg);
}

.hamburgerClosed {
  transform: inherit;
  position: relative;
}

.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background-color: var(--primary);
  content: "";
  position: absolute;
  transition: all 0.3s linear;
}

.hamburger::before {
  transform: rotate(-90deg) translate(-10px, 0px);
  top: -10px;
}

.hamburgerClosed::before {
  transform: rotate(0deg);
}
.hamburger::after {
  opacity: 0;
  transform: rotate(90deg);
  top: 10px;
}

.hamburgerClosed::after {
  opacity: 1;
  transform: rotate(0deg);
}

.activeLink {
  color: var(--accent);
}
